<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    </head>
    <body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img src="/static/img/core2.pl_logo.png" alt="core2.pl Logo" id="logo" />
                </a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if not user.logged %}
                            <a href="/user/login">Logowanie</a>
                        {% else %}
                            <a href="/user/logout">Wyloguj</a>
                        {% endif %}
                    </li>
                </ul>

            </div>
        </div>
    </div>
        {% if box %}
            {{ box.content|raw }}
        {% endif %}
        {% if page %}
            <div class="wrapper-wide">
                <div class="container">
                    <div class="jumbotron">
                        {{ page.content|raw }}
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </body>
</html>
