
.wrapper {
    width: 520px;
    position: absolute;
    left: 50%;
    top: 35%;
    margin-left: -260px;
}

.wrapper-wide {
    width: 960px;
    position: absolute;
    left: 50%;
    top: 35%;
    margin-left: -465px;
}

#logo {
    position: absolute;
    top: 0px;
}

body {
    background: url('/static/img/bg.jpg') top center;;
}
